[Unit]
Description=i3lock on suspend
Before=sleep.target

[Service]
User=lamereb
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/lamereb/.config/i3/lock.sh

[Install]
WantedBy=sleep.target
