!-----------------
!ROFI Color theme
!-----------------
rofi.color-enabled: true
rofi.color-window: #1e1e1e, #a4dfff, #151515
rofi.color-normal: argb:0000000, #a4dfff, argb:0000000, #a4dfff, #1b2b34
rofi.color-active: argb:0000000, #6699cc, argb:0000000, #6699cc, #1b2b34
rofi.color-urgent: argb:0000000, #e12a36, argb:0000000, #dd2a4b, #1b2b34
! rofi.font: Terminus 22
rofi.font: Bitstream Vera Sans Mono 22
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location:0
rofi.width: 500
rofi.lines: 5
rofi.bw:3
rofi.yoffset: 26
rofi.padding: 32
ied4 rofi.color-urgent: #002b37, #A6AFB8, #002b37, #003642, #da4281

! -----
! URxvt
! -----

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
!URxvt.font: xft:xos4 Terminus:size=12
!URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=34
!URxvt.font: xft:AnonymousPro-Regular:pixelsize=38
URxvt.font: xft:Monospace:pixelsize=30

URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: true                                              
!URxvt.perl-ext: default,matcher,selection-to-clipboard,confirm-paste 
!URxvt.matcher.button: 1                                              
!URxvt.url-launcher: /usr/bin/vivaldi-stable
! below is for 'real' transparency (composite)
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0200/c800
! below is for 'fake' transparency (just copying background image)
!URxvt.transparent: true
!URxvt.shading:      20  

! special
*.foreground:   #a4dfff
*.background:   #151515
*.cursorColor:  #a4dfff

! black
*.color0:       #151515
*.color8:       #a4dfff

! red
*.color1:       #ff2636
*.color9:       #ff2636

! green
*.color2:       #00ffff
*.color10:      #00ffff

! yellow
*.color3:       #a4dfff
*.color11:      #a4dfff

! blue
*.color4:       #00bfff
*.color12:      #00bfff

! magenta
*.color5:       #05b2b2
*.color13:      #05b2b2

! cyan
*.color6:       #00ffff
*.color14:      #00ffff

! white
*.color7:       #a4dfff
*.color15:      #a4dfff
